# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# Makefiles
[Makefile]
indent_style = tab

[Dockerfile]
indent_style = tab

# YAML Files
[*.{yaml,sh}]
indent_size = 2

# Go source files
[*.go]
indent_style = tab
