# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.vscode

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

eth/protocol

# Our compiled binary
/livepeer
/livepeer_cli
/livepeer_router

/.git.describe
/livepeer-windows-amd64.zip

#cmd/devtool generated directories and files
/.lpdev2
/.git.describe

#windows build env
/msys2
/msys2-install
/.build
