name: Git checks

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  block-fixup:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3.5.2

      - name: Block fixup commit merge
        uses: 13rac1/block-fixup-merge-action@v2.0.0
