name: Label issues and pull requests
on:
  issues:
    types: [opened, reopened]
  pull_request:
    types: [opened, reopened]
  pull_request_target:
    types: [opened, reopened]

jobs:
  label_issues:
    if: ${{ github.event_name == 'issues' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Label issues
        uses: andymckay/labeler@master
        with:
          add-labels: "status: triage"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          ignore-if-assigned: false

  label_pull_requests:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v5
