name: Trigger test suite

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: Run tests defined for the project
    runs-on: ubuntu-18.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # Check https://github.com/livepeer/go-livepeer/pull/1891
          # for ref value discussion
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up go
        id: go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Cache go modules
        id: cache-go-mod
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Cache ffmpeg
        id: cache-ffmpeg
        uses: actions/cache@v3
        with:
          path: ~/compiled
          key: ${{ runner.os }}-ffmpeg-${{ hashFiles('**/install_ffmpeg.sh') }}
          restore-keys: |
            ${{ runner.os }}-ffmpeg

      - name: Install dependencies
        run: |
          sudo apt-get update \
            && sudo apt-get install -yqq software-properties-common curl apt-transport-https \
            && sudo apt-key adv --keyserver keyserver.ubuntu.com --recv 15CF4D18AF4F7421 \
            && sudo add-apt-repository "deb [arch=amd64] http://apt.llvm.org/xenial/ llvm-toolchain-xenial-8 main" \
            && sudo apt-get update \
            && sudo apt-get -yqq install clang-8 clang-tools-8 build-essential pkg-config autoconf git python

          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-8 30 \
            && sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-8 30

      - name: Install go modules
        if: steps.cache-go-mod.outputs.cache-hit != 'true'
        run: go mod download

      - name: Install ffmpeg
        if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
        run: ./install_ffmpeg.sh

      - name: Install protobuf
        run: |
          go install github.com/golang/protobuf/protoc-gen-go@v1.3.5
          sudo apt-get update
          sudo apt-get install -yqq protobuf-compiler

      - name: go fmt
        run: |
          echo "PKG_CONFIG_PATH=${HOME}/compiled/lib/pkgconfig" >> $GITHUB_ENV
          go fmt ./...
          git diff --exit-code

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.39.0
          args: '--disable-all --enable=gofmt --enable=vet --enable=golint --deadline=4m pm verification'

      - name: Run tests with coverage
        run: |
          export PKG_CONFIG_PATH=~/compiled/lib/pkgconfig
          ./test.sh
          ./test_e2e.sh

      - name: Upload coverage reports
        uses: codecov/codecov-action@v3
        with:
          files: ./cover.out
          name: go-livepeer
          verbose: true
          gcov_ignore: ./eth/stubclient.go
